# TP n°3 : Boucle for

___________________________________________________________________________
## Afficher des entiers consécutifs

Afficher les uns en dessous des autres tous les entiers consécutifs entre 2020 et 2038.

In [2]:
print("\n".join(map(str, range(2020, 2039))))

2020
2021
2022
2023
2024
2025
2026
2027
2028
2029
2030
2031
2032
2033
2034
2035
2036
2037
2038

___________________________________________________________________________
## Non multiples

Combien y-a-t-il d'entiers entre 1 et 20000 qui ne sont ni pairs ni multiples de 5 ? Par exemple, 421 ou 2023 font partie des entiers concernés mais pas 42 ni 2025. Le nombre à trouver est 8000.

In [3]:
print(len([ent for ent in range(1, 20001) if ent % 2 != 0 and ent % 5 != 0]))

8000

___________________________________________________________________________
## Somme de $n$ entiers consécutifs à partir de $d$

On vous donne deux entiers positifs `d` et `n`. On vous demande de calculer la somme des `n` entiers consécutifs à partir de `d`. Par exemple, si $d=10$ et $n=4$, vous devez calculer $10+11+12+13=46$. Voici d'autres exemples :

    (d, n) = (10, 1) -> 10
    (d, n) = (10, 2) -> 21
    (d, n) = (10, 100) -> 5950

In [5]:
def somme(d, n):
    return sum([ent for ent in range(d, d + n)])
print(somme(10, 1), somme(10, 2), somme(10, 100), sep = "\n")

10
21
5950

___________________________________________________________________________
## Somme d'entiers impairs consécutifs

On donne un entier $N\geq 0$ et on demande de calculer la somme des $N$ premiers entiers impairs, c'est-à-dire

$$1, 3, 5, 7, 9, 11, \text{etc}  $$

Par exemple, si $N=6$, on trouvera $1+3+5+7+9+11=36$.

Vérifier dans vos tests que cette somme vaut toujours $N^2$.

In [8]:
def somme(N):
    return sum([ent for ent in range(1, N*2, 2)])
N = 6
sommeN = somme(N)
print(sommeN, sommeN == N**2)

36 True

___________________________________________________________________________
## Produit d'entiers

Calculer le produit $P$ des entiers entre 42 et 421, autrement dit $P=42\times 43\times\cdots \times 420\times 421$.

On trouvera un très grand entier qui commence par 1484.

In [9]:
p = 1
for ent in range(42, 422):
    p *= ent
print(p)

14848189022080303821034614133564737343497580676008002860327769938167364248759459249604127188259759366373314779856500009787049418294055338460141203034793829738787489117496935374801572667239259998049335111831066992240863760539174925452006377134586813349848086762177672326218867814294285277447683237095863693089437232918984311120559576104477435056434057098773163123139891363872458016017840642972107243396070247887496102900192805397625977085354850875326104871627245462790386521041227869142627868320939348798674115819679889379730601686038877439530526875289134886752723402935443368607854113726275384511955296973191536084019750662283982208242964644631879649595438349272150602356101987786034775417212442618739310123040397022629976740815882457895025290204728126269627546989594055622273269760000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000

___________________________________________________________________________
## Suite d'entiers

On considère la suite de nombres entiers dont les premiers termes sont :

    10, 21, 43, 87, 175, 351, etc
Cette suite est construite de la manière suivante :


- son premier terme est 10

- si $x$ est un terme de la suite, le terme suivant vaut $2x+1$.

Par exemple, si $x=87$ alors le terme suivant dans la suite est  $2x+1=2\times 87 +1=175$.

Ecrire un code qui à partir d'un entier $n>0$ affiche le $n^{\text{e}}$ terme de la suite. Exemple de comportements selon la valeur de `n` :

    3 -> 43
    1 -> 10
    7 -> 703

In [10]:
def suite(n):
    x = 10
    for _ in range(n - 1):
        x = 2*x + 1
    return x
for _ in range(3):
    n = int(input())
    print(suite(n))

3
43
1
10
7
703

___________________________________________________________________________
## Plus grand diviseur impair

Soit un entier $n>0$. On cherche le plus grand diviseur impair $d$ de $n$. Par exemple :


- si $n=42$ alors $d=21$,

- si $n=45$ alors $d=45$,

- si $n=64$ alors $d=1$,

- si $n=1000$ alors $d=125$.

Déterminer $d$ est parcourant tous les entiers entre $1$ et $n$. En particulier, déterminer le plus grand diviseur impair de $n=416241604$.

In [15]:
def div(n):
    return max([ent for ent in range(1, n//2 + 1) if n % ent == 0 and ent % 2 == 1])
print(div(416241604))

104060401

___________________________________________________________________________
## Pomodoro

Soit à afficher 10 fois l'heure à partir de 20h42 avec des intervalles d'attente de 25 minutes. On obtient alors l'affichage suivant :

    20 h 42
    21 h 7
    21 h 32
    21 h 57
    22 h 22
    22 h 47
    23 h 12                                                                                                                                                                                  
    23 h 37                                                                                                                                                                                  
    0 h 2                                                                                                                                                                                    
    0 h 27
Plus généralement, on donne un moment de la journée par


- son nombre d'heures `h`,

- son nombre de minutes `m`,

par exemple, `h=20` et `m =42` ;

on donne aussi


- une période de temps, en minutes, par exemple `periode=25` en supposant que $\mathtt{periode < 60}$

- un nombre entier,  disons $\mathtt{n\geq 1}$

et on demande d'afficher l'heure qu'il est aux `n` moments à partir de l'heure donnée et à intervalles réguliers de `periode` minutes. Le nombre d'heures affiché doit toujours être strictement inférieur à 24 et le nombre de minutes strictement inférieur à 60.

In [1]:
def heure(n, periode):
    h, m = 20, 42
    for moment in range(n):
        m += periode
        if m >= 60:
            h += 1
            m -= 60
    return (str(h % 24) + " h " + str(m))
n = 5
print(heure(n, 25))

22 h 47

___________________________________________________________________________
## Suite de disques

On se donne des entiers $n, R, s>0$, par exemple $n=8$, $R=25$ et $s=10$. Dessiner avec Turtle un alignement horizontal de $n$ disques noirs de rayon $R$, deux disques successifs étant séparés de $s$ pixels.

![](disques.png)

In [13]:
from turtle import *
reset()

n, r, s = 8, 25, 10
d = 2*r
goto(-(n - 1)*(d + s)//2, 0)
clear()
for _ in range(n):
    dot(d)
    up()
    fd(d + s)
    down()

___________________________________________________________________________
## Clôturer un champ carré

Sous Turtle, on veut clôturer un champ carré de côté $a$ :

![](cloture.png)

La distance entre deux poteaux est constante et vaut $25$. Chaque coin du champ comporte un poteau.

Dessiner sous Turtle le champ ainsi que tous les poteaux de la clôture. Le côté $a$ du champ pourra être un quelconque multiple de 25 ; le dessin a été réalisé pour $a=300$.

In [16]:
from turtle import *
reset()

def cote(nbP):
    rt(90)
    for _ in range(nbP):
        dot()
        fd(25)
    dot()
a = 300
goto(a//2, a//2)
clear()
for _ in range(4):
    cote(a//25)

___________________________________________________________________________
## Sommes de puissances de 2 ou de 3

On donne un entier $\mathtt{n>0}$ et on demande de calculer la somme suivante :

$$S_n=3^1+2^2+3^3+2^ 4+\dots+ ?^n$$

Si l'exposant courant $k$ est pair, on ajoute $2^k$ sinon on ajoute $3^k$. La somme s'arrête lorsqu'elle contient $n$ termes. Par exemple, $S_4=3^1+2^2+3^3+2^4=3 + 4 + 27 + 16=50$ et $S_4=3^1+2^2+3^3+2^4+3^5=50+243=293$

In [2]:
def somme(n):
    return sum([2**terme if terme % 2 == 0 else 3**terme for terme in range(1, n + 1)])
n = 5
print(somme(n))

293

___________________________________________________________________________
## Entier pyramidal

Un entier $N>0$ est dit *pyramidal* si c'est le nombre de boules nécessaires pour bâtir une pyramide de hauteur $n$ et de base un carré de côté ayant $n$ boules, cf. l'image ci-dessous correspondant à $n=5$ :

Pour la suite, on a juste besoin de savoir qu'un nombre pyramidal est de la forme

$$N= \frac {n(n+1)(2n+1)}6$$

Ainsi l'entier $N=55$ est un nombre pyramidal car si $n=5$ alors $N= \frac {n(n+1)(2n+1)}6=55$. Les premiers nombres pyramidaux sont :

$$1, 5, 14, 30, 55, 91, 140. $$

Déterminer si les entiers suivant sont pyramidaux :


- $N=1785$,

- $N=2020$,

- $N=4900$,

- $N=317104004$,

- $N=58963256321402313634$,

- $N=30979120769004056775$

On pourra utiliser que si $N= \frac {n(n+1)(2n+1)}6$ alors $n\leq 2\times N^{\frac 13}$

In [4]:
n, N, pyramid = 0, 0, []
while N < 58963256321402313634:
    n += 1
    N = n*(n + 1)*(2*n + 1)/6
    pyramid.append(N)
for _ in range(6):
    print(int(input()) in pyramid)

1785
True
2020
False
4900
True
317104004
True
58963256321402313634
False
30979120769004056775
False

___________________________________________________________________________
## Afficher par paires verticales

On donne deux entiers $a$ et $b$ et on demande d'afficher, par ordre croissant tous les entiers de $a$ à $b$ sur deux lignes en plaçant alternativement les entiers sur la ligne du haut et sur la ligne du bas. Par exemple, si $a=2018$ et $b=2025$ le code doit afficher

    2018 2020 2022 2024 
    2019 2021 2023 2025 
et si $a=2020$ et $b=2038$ le code doit afficher

    2020 2022 2024 2026 2028 2030 2032 2034 2036 2038 
    2021 2023 2025 2027 2029 2031 2033 2035 2037

In [10]:
def liste(a, b, reste):
    return [str(ent) for ent in range(a, b + 1) if ent % 2 == reste]
a, b = int(input()), int(input())
pairs, impairs = liste(a, b, 0), liste(a, b, 1)
print(" ".join(pairs), " ".join(impairs), sep = "\n")

2018
2025
2018 2020 2022 2024
2019 2021 2023 2025

___________________________________________________________________________
## Afficher par triplets verticaux

On donne deux entiers $a$ et $b$ et on demande d'afficher, par ordre croissant tous les entiers de $a$ à $b$ sur trois lignes en plaçant successivement les entiers sur la ligne du haut, la ligne centrale et sur la ligne du bas. Par exemple, si $a=42$ et $b=53$ le code doit afficher

    42 45 48 51
    43 46 49 52
    44 47 50 53
et si $a=2019$ et $b=2038$ le code doit afficher

    2019 2022 2025 2028 2031 2034 2037
    2020 2023 2026 2029 2032 2035 2038
    2021 2024 2027 2030 2033 2036

In [11]:
def liste(a, b, reste):
    return " ".join([str(ent) for ent in range(a, b + 1) if ent % 3 == reste])
a, b = int(input()), int(input())
l1, l2, l3 = liste(a, b, 0), liste(a, b, 1), liste(a, b, 2)
print(l1, l2, l3, sep = "\n")

2019
2038
2019 2022 2025 2028 2031 2034 2037
2020 2023 2026 2029 2032 2035 2038
2021 2024 2027 2030 2033 2036